main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: indianred;
    height: 100vh;
    width: 100vw;
}

.content{
    width: 50%;
    background: whitesmoke!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-left:20px!important;
}

.pokemon-container{
    background: whitesmoke;
}

.form-control {
    display: flex;
    flex-direction: row;
}

.card{
    text-align: center;
    width: 300px;
    margin: 50px 30px;
}

.media{
    height: 200px!important;
}

.color{
    transition: background 1s ease-in-out;
}

.electric{
    background: yellow;
}

.grass{
    background: forestgreen;
}

.poison{
    background: purple;
}

.normal{
    background: antiquewhite;
}

.fire{
    background: red;
}